@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-login {
  background-image: url('../assets/images/bg-login.jpg');
  background-size: cover;
}

.box-shadow {
  box-shadow: 0px 4px 16px 0px #2730FE29;
}

.box-shadow-header {
  box-shadow: 0px 6px 12px 0px #2864BD1F;
}

.box-shadow-button {
  box-shadow: 0px 1px 0px 0px #E3E2EC;
}

.bg-bar {
  background: linear-gradient(256.04deg, #F2C930 4%, #6C0BE8 45.82%, #1B0850 96.35%);
}

.bg-preview {
  background-image: url('../assets/images/bg-preview.svg');
}

.bg-preview-title {
  position: relative;
  background: linear-gradient(256.04deg, #F2C930 4%, #6C0BE8 45.82%, #1B0850 96.35%);
}

.bg-gradient:after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent 0%, transparent 20%, #071843 99%);
  z-index: 1;
}

.bg-preview-title:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.thumb-image {
  width: 99px;
  height: 100%; 
  position: absolute;
  top: 0; 
  transition: transform 0.3s ease;
}
.thumb-image:nth-child(1) {
  left: 0;
  z-index: 6;
}

.thumb-image:nth-child(2) {
  left: calc(100% / 6);
  z-index: 5;
}

.thumb-image:nth-child(3) {
  left: calc(100% / 6 * 2);
  z-index: 4;
}

.thumb-image:nth-child(4) {
  left: calc(100% / 6 * 3);
  z-index: 3;
}

.thumb-image:nth-child(5) {
  left: calc(100% / 6 * 4);
  z-index: 2;
}

.thumb-image:nth-child(6) {
  left: calc(100% / 6 * 5);
  z-index: 1;
}